
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:none;

}

body {

    font-family:Roboto, Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    color:#303030;

}

.header {

    border: 20px solid #7875D0;
    padding:50px 60px 40px;
}

.info-header {

    display:flex;
    justify-content: space-between;
}

.logo {

    font-weight: bold;
    font-size: 36px;
    line-height: 36px;

}

.logo-row {

    display:none;
    font-size:20px;
    font-weight:bold;
    text-align:center;
}

div.logo a, div.logo-row a {

  text-decoration:none;
  color:#303030;

}

.search {

    align-self:center;
}


div.gsc-control-cse,
form.gsc-search-box,
table.gsc-search-box {
    position: relative;
}

.gsc-input-box::before {
    content: 'Поиск по статьям';
    color: #999;
    position: absolute;
    top: 16px;
    left: 25px;
    font-size: 14px;
}

.gsc-input-box {

    width:600px;
}
td.gsc-input > .gsc-input-box input {
    position: relative;
    background: transparent !important;
    background-image: none !important;
    padding: 0!important;
    border: none;
    color: #000;
    cursor: pointer;
    font-size: 26px;
    height: 48px;
    width: 97% !important;


}

td.gsc-input > .gsc-input-box input:focus {

    background-color: #fff !important;
    color: #000;
    cursor: text;
    margin-left: 0;
}

.gsc-search-button-v2 > svg {
    -ms-zoom: 1.5;
    transform: scale(1.5);
}

td.gsc-search-button > .gsc-search-button-v2 {

    height:42px;
}

td.gsc-search-button > .gsc-search-button-v2:hover {

    opacity:0.8;
}

.gsc-branding,
.gcsc-branding,
td.gsib_b {
    display: none;
}


.make-order-button {

    width: 190px;
    height: 48px;
    background: #6662B5;
    border-radius: 5px;
    border:0;
    text-align: center;
    margin-bottom: 20px;

}

.make-order-button a {

    font-size: 16px;
    line-height: 14px;
    color: #FFFFFF;
    text-decoration:none;
}

.make-order-button:hover {

    opacity:0.9;
}

.make-order-comment {

    width:190px;
    font-weight:300;
    font-size: 14px;
    text-align: center;
    line-height:16px;

}

.breadcrumbs {

    padding-top:30px;
    margin-bottom:20px;
}

.breadcrumbs li {

    display:inline-block;
    line-height: 36px;
}

.breadcrumbs li a {

    text-decoration:none;
    color:#303030;
}

.active {

    color:#7875D0;
}

.breadcrumbs li::before {

    content:url("images/arrow.png");
    margin-left:5px;
    margin-right:5px;
}

.breadcrumbs li:first-child::before {

    content: '';
    margin-left:75px;
}

.subject-block {

    margin:0 80px 40px;
    padding:30px;
    color: #FFFFFF;
    background: #7875D0;
}

.subject-title {

    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    margin-bottom:15px;
}

.subject-description {

    line-height:20px;
}

.letters-list {

    word-spacing:2.3em;
    line-height: 36px;
    padding:0 40px 0 45px;
    text-align:center;

}

.letters-list a {

    text-decoration:none;
    color: #303030;
}

.letters-list a:nth-child(n):hover {

    color:#4587CA;
}

 .alphabet {

    padding:55px 60px 70px 80px;
}

.alphabet-block {

    display:flex;
    flex-flow:wrap;
    justify-content:flex-start;
    margin-bottom:20px;

}

.alphabet-letter {

    flex-basis:10%;
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
    letter-spacing: 0.96em;
    margin-right:10px;
    margin-bottom:15px;
    align-self:center;


}

.alphabet-article {

    flex-basis:25%;
    margin-right:50px;
    margin-bottom:15px;
    align-self:center;

}

.alphabet-article p {

    max-width:100%;
    margin-bottom:10px;
    line-height:20px;
}


.alphabet-article a{

    font-size: 14px;
    line-height: 14px;
    text-decoration:none;
    color:#303030;

}

.alphabet-article a:hover {

    color:#7875D0;
}

footer {

    display:flex;
    justify-content:space-evenly;
    padding:40px 145px 70px;
    background: #F2F2F2;

}

.column-footer {

    font-size:14px;
    line-height:150%;
    margin-right:60px;
}

footer div:last-child {

    margin-right:0;
}

.column-footer-name {

    font-size:18px;
    margin-bottom:20px;
    color:#4587CA;
}

.column-footer a {

    text-decoration:none;
    color:#303030;
}

.go-to-form, .go-to-subjects, .go-to-articles {

    font-size:16px;
    text-transform:uppercase;
    margin-top:20px;
}
.go-to-form a, .go-to-subjects a, .go-to-articles a {

    color:#4587CA;
}
